<%- include header %>
		<div class="twelve columns content">
		<div class="dform" style="padding-left:20px">
			<h3>Front page bitch</h3>
			<p>this is asshole speaking motherfuckers</p>
			</div>
		</div>	

<%- include footer %>